
/*________________________________________________________________________
                            COLOR GUIDE
Blue: rgb(43, 18, 234);
Light Blue: rgb(98, 173, 201);
GREY: rgb(128, 128, 128);
BLACK: rgb(15, 15, 15);
       rgba(15, 15, 15, 0.74)
________________________________________________________________________*/
/*________________________________________________________________________
                            GLOBAL STYLES
________________________________________________________________________*/


body {
    font-size: 19px;
    font-family: "Architects Daughter", calibri, candara, Optima, Arial, sans-serif;
    color: rgb(98, 146, 201);
    background: rgb(56, 69, 93);
    background-image: url(../Images/Background/filmreel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: rgba(15, 15, 15, 0.72);
    text-align: center;
}

.container {
    background: rgb(15,15,15); /*IE8 */
    background: rgba(15, 15, 15, 0.72);

}
h1, h2, h3 {
    font-family: "Pacifico", calibri, candara, Optima, Arial, sans-serif;
    font-weight: normal;    
}

h1 {
    font-size: 3.3684em;    
    line-height: 1.256em;
    margin-top: 0.4219em;
    margin-bottom: 0;
    color: rgb(98, 173, 201);    
    width: 100%;
    height: 275px;
    text-align: center;
    
}
h2 {
    font-size: 1.5em;
    font-family: Indie - Flower;
    line-height: 1.2558em;
    margin: 0.4219em auto 0.4219em auto; 
    margin-top: 25px;
    color: rgb(226, 226, 226)
}
h3 {
    font-size: 1.5263em;
    line-height: 1.8621em;
    margin-top: 0.9310em;
    margin-bottom: 0;
    float: none;
    text-align: center;
    margin: 0;
    color: rgb(226, 226, 226)
}
p {
    font-size: 1em;
    line-height: 1.4211em;
    margin-top: 1.4211em;
    margin-bottom: 0;
    color: rgb(98, 173, 201);
    max-width: 700px;
    margin: 0 auto;
}

a:link {
    color: rgb(180, 180, 180);
    font-style: normal;
}
    a:visited {
        color: rgba(83, 221, 150, 0.57);
    }
    a:hover {
        color: rgb(73, 132, 212);
    }
    a:active {
        color: rgb(244, 241, 247);
    }

.button {
    background-color: rgb(26, 131, 107);
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    
}
.button a {
    color: rgba(19, 227, 227, 0.76);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 5px;    
}
.button a:hover {
    color: rgb(255,255,255);
    transition: .5s color;
    background: rgba(49, 82, 190, 0.28);
    border-radius: 10px;
}
.featured-info h3 {
    border-bottom: 1px solid rgba(75, 112, 181, 0.57);
}

.featured-info p {
    font-style:italic;
}

.featured-info ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

img {
    width: 400px; 
    margin: 0 auto;
}
.gallery {
    margin-top: 30px;
  
}

.gallery img {
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: rgba(0,0,0,.5) 10px 10px 60px;
}

@media screen and (min-width: 500px) {
    
    .gallery {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
        .gallery img {
            max-width: 220px;
            height: 180px;
            margin: 0 auto;
        }
} /*media querie for 600px*/

@media screen and (min-width: 750px) {
    
    .gallery {
        float: left;
    }
}

@media screen and (min-width: 625px) {
    .feature-header {
        text-align: center;
    }
}

/*________________________________________________________________
                        LOGO STYLES
________________________________________________________________*/


.logo {
    display: block;  
    margin: 0 auto; /* centres*/
   max-width: 550px;
}
    .logo img {
        min-width: 200px;
}

/*________________________________________________________________
                    FOOD & DRINK STYLES
________________________________________________________________*/

.food-drink-page .featured-info ul {
    font-style: italic;
}
.food-drink-page .featured-info p {
    font-style: italic;
}

/*________________________________________________________________
                    MAIN NAVIGATION STYLES
________________________________________________________________*/

.main-navigation ul {   
    padding-left: 0;    
}
.main-navigation li {
    list-style: none;
    text-align: center;
    margin: 20px 0;
}
.main-navigation a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(9, 26, 54, 0.44);
    color: rgb(180, 180, 180);
}
.main-navigation a:visited {
    color: rgb(180, 180, 180);
}
.main-navigation a:hover {
    color: rgb(255,255,255);
    transition: .5s color;
    background: rgba(49, 82, 190, 0.28);
}
.main-navigation a:active {
    color: rgb(42, 99, 206);
}

@media screen and (min-width: 625px) {
    
    .main-navigation {
        min-height: 250px;
        border-top: 1px solid rgb(105, 156, 188);
        border-bottom: 1px solid rgb(105, 156, 188);
    }
    
        .main-navigation ul {
            max-width: 950px;
            margin: 0 auto;
            position: relative;
        }    
        .main-navigation li {
            float: left;
            margin-left: 30px;
            width: 28%;
            height: 70px;
        }
        .main-navigation a {
            background: none;
        }
        .main-navigation a:hover {
            background: none;
        }
    h1 {
        width: 100%;
        height: 100px;
    }
    
}

/* media querie for  */

/*________________________________________________________________
                      MENU PAGE STYLES
________________________________________________________________*/

@media screen and (min-width: 1050px) {
    
    
}


/*________________________________________________________________
                    GLOBAL FOOTER STYLES
________________________________________________________________*/

footer {
    padding: 30px 0;
    color: midnightblue;
    margin-top: 20px;
}

    h4 {
        text-transform: uppercase;
        margin: 0;
    }

    footer p {
        margin: 0 auto;
    }

.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  margin 0;
  overflow: hidden;
}
 
.js-video.widescreen {
  padding-bottom: 56.34%;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}